body{
	background-color: black;
}

.parrafocomun{
	color: white;
}
.card{
	background-color: black;
	
}
h1 {
	color: whitesmoke;
}
.blockquote-footer {
	color: white;
}

.cajainicio1{
	border: 2px solid cyan;
	border-radius: 15px;
}
 .galeria{
 	display: flex;
 	justify-content: center;
 	height: 33vh; 
 	width: 33vw;

 }
